@font-face {
	font-family: 'AcneStudiosCircle';
	src: url('AcneStudiosCircleBook.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AcneStudiosCircle';
	src: url('AcneStudiosCircleBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AcneStudiosCircleNeg';
	src: url('AcneStudiosCircleBoldNeg.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Suisse';
	src: url('suissebpmono-regular-webfont.eot');
	src: url('suissebpmono-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('suissebpmono-regular-webfont.woff') format('woff'),
		url('suissebpmono-regular-webfont.ttf') format('truetype'),
		url('suissebpmono-regular-webfont.svg#suisse_bp_monoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Suisse';
	src: url('suissebpmono-bold-webfont.eot');
	src: url('suissebpmono-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('suissebpmono-bold-webfont.woff') format('woff'),
		url('suissebpmono-bold-webfont.ttf') format('truetype'),
		url('suissebpmono-bold-webfont.svg#suisse_bp_monobold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Suisse Thin';
	src: url('suissebpmono-thin-webfont.eot');
	src: url('suissebpmono-thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('suissebpmono-thin-webfont.woff') format('woff'),
		url('suissebpmono-thin-webfont.ttf') format('truetype'),
		url('suissebpmono-thin-webfont.svg#suisse_bp_monothin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Whois';
	src: url('whois-mono.eot');
	src: url('whois-mono.eot?#iefix') format('embedded-opentype'),
		url('whois-mono.woff') format('woff'),
		url('whois-mono.ttf') format('truetype'),
		url('whois-mono.svg#whoismono') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Liberation';
	src: url('LiberationMono-Regular-webfont.eot');
	src: url('LiberationMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('LiberationMono-Regular-webfont.woff') format('woff'),
		url('LiberationMono-Regular-webfont.ttf') format('truetype'),
		url('LiberationMono-Regular-webfont.svg#liberation_monoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Code New Roman';
	src: url('code-new-roman_bold.eot');
	src: url('code-new-roman_bold.eot?#iefix') format('embedded-opentype'),
		url('code-new-roman_bold.woff') format('woff'),
		url('code-new-roman_bold.ttf') format('truetype'),
		url('code-new-roman_bold.svg#code-new-roman-bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Code New Roman';
	src: url('code-new-roman_regular.eot');
	src: url('code-new-roman_regular.eot?#iefix') format('embedded-opentype'),
		url('code-new-roman_regular.woff') format('woff'),
		url('code-new-roman_regular.ttf') format('truetype'),
		url('code-new-roman_regular.svg#code-new-roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Code New Roman';
	src: url('code-new-roman_italic.eot');
	src: url('code-new-roman_italic.eot?#iefix') format('embedded-opentype'),
		url('code-new-roman_italic.woff') format('woff'),
		url('code-new-roman_italic.ttf') format('truetype'),
		url('code-new-roman_italic.svg#code-new-roman-italic') format('svg');
	font-weight: normal;
	font-style: italic;
}


