/* line 27, ../sass/_configuration.sass */
section,
footer {
  padding: 20px 20px;
}

/* line 30, ../sass/_configuration.sass */
.padding-responsive {
  padding: 20px 20px;
}

/* line 32, ../sass/_configuration.sass */
.padding-top-responsive {
  padding-top: 20px;
}

/* line 34, ../sass/_configuration.sass */
.padding-bottom-responsive {
  padding-bottom: 20px;
}

/* line 36, ../sass/_configuration.sass */
.padding-left-responsive {
  padding-left: 10px;
}

/* line 38, ../sass/_configuration.sass */
.padding-right-responsive {
  padding-right: 10px;
}

/* line 41, ../sass/_configuration.sass */
.margin-bottom-responsive {
  margin-bottom: 10px;
}

/* line 9, ../sass/_grid.sass */
.column-half.left, .column-half.left-spaced,
.column-third.left,
.column-third.left-spaced,
.column-two-thirds.left,
.column-two-thirds.left-spaced,
.column-fourth.left,
.column-fourth.left-spaced,
.column-three-fourths.left,
.column-three-fourths.left-spaced {
  float: left;
}
/* line 12, ../sass/_grid.sass */
.column-half.right, .column-half.right-spaced,
.column-third.right,
.column-third.right-spaced,
.column-two-thirds.right,
.column-two-thirds.right-spaced,
.column-fourth.right,
.column-fourth.right-spaced,
.column-three-fourths.right,
.column-three-fourths.right-spaced {
  float: right;
}
@media (max-width: 1000px) {
  /* line 4, ../sass/_grid.sass */
  .column-half,
  .column-third,
  .column-two-thirds,
  .column-fourth,
  .column-three-fourths {
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

/* line 19, ../sass/_grid.sass */
.column-half {
  width: 50%;
}
/* line 21, ../sass/_grid.sass */
.column-half.left-spaced {
  margin-right: 0;
  width: 50%;
}
/* line 24, ../sass/_grid.sass */
.column-half.right-spaced {
  margin-left: 0;
  width: 50%;
}

/* line 27, ../sass/_grid.sass */
.column-third {
  width: 33.33333%;
}
/* line 29, ../sass/_grid.sass */
.column-third.left-spaced {
  margin-right: 0;
  width: 33.33333%;
}
/* line 32, ../sass/_grid.sass */
.column-third.right-spaced {
  margin-left: 0;
  width: 33.33333%;
}
/* line 35, ../sass/_grid.sass */
.column-third:nth-of-type(3n) {
  margin-right: 0;
}

/* line 37, ../sass/_grid.sass */
.column-two-thirds {
  width: 66.66667%;
}
/* line 39, ../sass/_grid.sass */
.column-two-thirds.left-spaced {
  margin-right: 0;
  width: 66.66667%;
}
/* line 42, ../sass/_grid.sass */
.column-two-thirds.right-spaced {
  margin-left: 0;
  width: 66.66667%;
}

/* line 45, ../sass/_grid.sass */
.column-fourth {
  width: 25%;
}
/* line 47, ../sass/_grid.sass */
.column-fourth.left-spaced {
  margin-right: 0;
  width: 25%;
}
/* line 50, ../sass/_grid.sass */
.column-fourth.right-spaced {
  margin-left: 0;
  width: 25%;
}
/* line 53, ../sass/_grid.sass */
.column-fourth:nth-of-type(4n) {
  margin-right: 0;
}

/* line 55, ../sass/_grid.sass */
.column-three-fourths {
  width: 75%;
}
/* line 57, ../sass/_grid.sass */
.column-three-fourths.left-spaced {
  margin-right: 0;
  width: 75%;
}
/* line 60, ../sass/_grid.sass */
.column-three-fourths.right-spaced {
  margin-left: 0;
  width: 75%;
}

/* line 5, ../sass/elastic.sass */
html {
  box-sizing: border-box;
  font-size: 10px;
}
/* line 8, ../sass/elastic.sass */
html img {
  -ms-interpolation-mode: bicubic;
}

/* line 10, ../sass/elastic.sass */
*, *:before, *:after {
  box-sizing: inherit;
}
