/* line 27, ../sass/_configuration.sass */
section,
footer {
  padding: 20px 20px;
}

/* line 30, ../sass/_configuration.sass */
.padding-responsive {
  padding: 20px 20px;
}

/* line 32, ../sass/_configuration.sass */
.padding-top-responsive {
  padding-top: 20px;
}

/* line 34, ../sass/_configuration.sass */
.padding-bottom-responsive {
  padding-bottom: 20px;
}

/* line 36, ../sass/_configuration.sass */
.padding-left-responsive {
  padding-left: 10px;
}

/* line 38, ../sass/_configuration.sass */
.padding-right-responsive {
  padding-right: 10px;
}

/* line 41, ../sass/_configuration.sass */
.margin-bottom-responsive {
  margin-bottom: 10px;
}

/* line 9, ../sass/_grid.sass */
.column-half.left, .column-half.left-spaced,
.column-third.left,
.column-third.left-spaced,
.column-two-thirds.left,
.column-two-thirds.left-spaced,
.column-fourth.left,
.column-fourth.left-spaced,
.column-three-fourths.left,
.column-three-fourths.left-spaced {
  float: left;
}
/* line 12, ../sass/_grid.sass */
.column-half.right, .column-half.right-spaced,
.column-third.right,
.column-third.right-spaced,
.column-two-thirds.right,
.column-two-thirds.right-spaced,
.column-fourth.right,
.column-fourth.right-spaced,
.column-three-fourths.right,
.column-three-fourths.right-spaced {
  float: right;
}
@media (max-width: 1000px) {
  /* line 4, ../sass/_grid.sass */
  .column-half,
  .column-third,
  .column-two-thirds,
  .column-fourth,
  .column-three-fourths {
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

/* line 19, ../sass/_grid.sass */
.column-half {
  width: 50%;
}
/* line 21, ../sass/_grid.sass */
.column-half.left-spaced {
  margin-right: 0;
  width: 50%;
}
/* line 24, ../sass/_grid.sass */
.column-half.right-spaced {
  margin-left: 0;
  width: 50%;
}

/* line 27, ../sass/_grid.sass */
.column-third {
  width: 33.33333%;
}
/* line 29, ../sass/_grid.sass */
.column-third.left-spaced {
  margin-right: 0;
  width: 33.33333%;
}
/* line 32, ../sass/_grid.sass */
.column-third.right-spaced {
  margin-left: 0;
  width: 33.33333%;
}
/* line 35, ../sass/_grid.sass */
.column-third:nth-of-type(3n) {
  margin-right: 0;
}

/* line 37, ../sass/_grid.sass */
.column-two-thirds {
  width: 66.66667%;
}
/* line 39, ../sass/_grid.sass */
.column-two-thirds.left-spaced {
  margin-right: 0;
  width: 66.66667%;
}
/* line 42, ../sass/_grid.sass */
.column-two-thirds.right-spaced {
  margin-left: 0;
  width: 66.66667%;
}

/* line 45, ../sass/_grid.sass */
.column-fourth {
  width: 25%;
}
/* line 47, ../sass/_grid.sass */
.column-fourth.left-spaced {
  margin-right: 0;
  width: 25%;
}
/* line 50, ../sass/_grid.sass */
.column-fourth.right-spaced {
  margin-left: 0;
  width: 25%;
}
/* line 53, ../sass/_grid.sass */
.column-fourth:nth-of-type(4n) {
  margin-right: 0;
}

/* line 55, ../sass/_grid.sass */
.column-three-fourths {
  width: 75%;
}
/* line 57, ../sass/_grid.sass */
.column-three-fourths.left-spaced {
  margin-right: 0;
  width: 75%;
}
/* line 60, ../sass/_grid.sass */
.column-three-fourths.right-spaced {
  margin-left: 0;
  width: 75%;
}

/* line 5, ../sass/elastic.sass */
html {
  box-sizing: border-box;
  font-size: 10px;
}
/* line 8, ../sass/elastic.sass */
html img {
  -ms-interpolation-mode: bicubic;
}

/* line 10, ../sass/elastic.sass */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.sass */
body {
  background-color: #fff;
  overflow-x: hidden;
}

/* line 13, ../sass/screen.sass */
* {
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../sass/screen.sass */
.clearfix::after {
  content: "";
  display: table;
  height: 0;
  clear: both;
}

/* line 22, ../sass/screen.sass */
.clear {
  clear: both;
}

/* line 25, ../sass/screen.sass */
.align-right {
  text-align: right;
}

/* line 27, ../sass/screen.sass */
.align-left {
  text-align: left;
}

/* line 30, ../sass/screen.sass */
.bg-field-color-1 {
  background-color: #d46984;
}

/* line 32, ../sass/screen.sass */
.bg-field-color-2 {
  background-color: #ff0000;
}

/* line 34, ../sass/screen.sass */
.bg-field-color-3 {
  background-color: #00ff00;
}

/* line 36, ../sass/screen.sass */
.bg-field-color-4 {
  background-color: #000000;
}

/* line 38, ../sass/screen.sass */
.bg-field-color-5 {
  background-color: #ffffff;
}

/* line 40, ../sass/screen.sass */
.bg-field-color-6 {
  background-color: #5a363d;
}

/* line 42, ../sass/screen.sass */
.bg-field-color-7 {
  background-color: #d26126;
}

/* line 44, ../sass/screen.sass */
.bg-field-color-8 {
  background-color: #343e56;
}

/* line 46, ../sass/screen.sass */
.bg-field-color-9 {
  background-color: #3591d2;
}

/* line 48, ../sass/screen.sass */
.bg-field-color-10 {
  background-color: #ffef36;
}

/* line 50, ../sass/screen.sass */
.bg-field-color-11 {
  background-color: #1c1c1c;
}

/* line 52, ../sass/screen.sass */
.bg-field-color-12 {
  background-color: #66343f;
}

/* line 54, ../sass/screen.sass */
.bg-field-color-13 {
  background-color: #fa8b47;
}

/* line 56, ../sass/screen.sass */
.bg-field-color-14 {
  background-color: #35455d;
}

/* line 60, ../sass/screen.sass */
.bg-field-image-1,
.bg-field-image-2,
.bg-field-image-3 {
  background-position: center center;
  background-size: auto auto;
}

/* line 65, ../sass/screen.sass */
.bg-field-image-1 {
  background-image: url("../video/video_paint_adam_still_m.jpg");
}

/* line 67, ../sass/screen.sass */
.bg-field-image-2 {
  background-image: url("../uploads/women_knit_2.jpg");
}

/* line 69, ../sass/screen.sass */
.bg-field-image-3 {
  background-image: url("../uploads/Sko_10_350.jpg");
  background-size: cover;
}

/* line 73, ../sass/screen.sass */
p {
  font-family: "AcneStudiosCircle";
  font-size: 18px;
  line-height: 1.35;
}
/* line 77, ../sass/screen.sass */
p.align-arrow {
  margin-left: 23px;
}

/* line 80, ../sass/screen.sass */
nav {
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  margin: 0;
  font-family: "AcneStudiosCircle";
  color: #000;
}
/* line 90, ../sass/screen.sass */
nav:hover {
  background-color: #fafafa;
}
/* line 92, ../sass/screen.sass */
nav a {
  position: relative;
  color: #000;
  text-decoration: none;
}
/* line 96, ../sass/screen.sass */
nav a:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
/* line 99, ../sass/screen.sass */
nav a:hover ul {
  display: block;
}
/* line 102, ../sass/screen.sass */
nav ul {
  list-style: none;
  font-size: 15px;
  line-height: 1.3em;
  padding-right: 10px;
}
/* line 107, ../sass/screen.sass */
nav ul li {
  float: left;
  position: relative;
}
/* line 110, ../sass/screen.sass */
nav ul li:hover {
  background-color: #eeeeee;
}
/* line 113, ../sass/screen.sass */
nav ul li a {
  padding: 7px 15px 0;
  height: 32px;
  display: inline-block;
}
/* line 118, ../sass/screen.sass */
nav ul li .sub {
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  width: 200px;
  padding-top: 1px;
  z-index: 99;
}
/* line 128, ../sass/screen.sass */
nav ul li:hover .sub {
  display: block;
}
/* line 131, ../sass/screen.sass */
nav ul li.menu-secondary {
  font-size: 11px;
  line-height: 1.3em;
  float: right;
}
/* line 135, ../sass/screen.sass */
nav ul li.menu-secondary a {
  padding: 10px 10px;
}
/* line 137, ../sass/screen.sass */
nav ul li.menu-secondary .sub {
  left: auto;
  right: 0;
}
/* line 142, ../sass/screen.sass */
nav ul li.menu-logo > a {
  background-image: url("../img/acne_logotype.svg");
  background-repeat: no-repeat;
  background-size: 92px 12px;
  background-position: 15px 10px;
  display: block;
  width: 123px;
  height: 32px;
  color: transparent;
}
/* line 152, ../sass/screen.sass */
nav ul li.menu-search > a {
  padding-left: 25px;
  background-size: 10px;
  background-position: 11px 11px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_loupe2.png);
}
/* line 159, ../sass/screen.sass */
nav ul li.menu-user > a {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-size: 9px 7px;
  background-position: 12px 13px;
  background-image: url(../img/icon_face_m.png);
}
/* line 166, ../sass/screen.sass */
nav ul li #menuBag.active {
  background-color: #eeeeee;
}
/* line 170, ../sass/screen.sass */
nav ul li.menu-stores ul {
  padding-top: 0;
}
/* line 173, ../sass/screen.sass */
nav ul li.menu-stores .menu-stores-search input {
  border: none;
  font-family: "AcneStudiosCircle";
  font-size: 14px;
  padding: 9px 0 8px 20px;
  margin: 0 0 5px;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}
/* line 181, ../sass/screen.sass */
nav ul li.menu-stores .menu-stores-search input:focus {
  outline: none;
}
/* line 184, ../sass/screen.sass */
nav ul li ul {
  background-color: #eeeeee;
  padding: 5px 0;
  font-size: 14px;
  line-height: 1.3em;
}
/* line 189, ../sass/screen.sass */
nav ul li ul li {
  float: none;
}
/* line 191, ../sass/screen.sass */
nav ul li ul li a, nav ul li ul li.label {
  padding: 3px 15px 2px 20px !important;
}
/* line 194, ../sass/screen.sass */
nav ul li ul li a {
  display: block !important;
  height: auto !important;
}
/* line 197, ../sass/screen.sass */
nav ul li ul li a:hover {
  background-color: #dddddd;
}
/* line 199, ../sass/screen.sass */
nav ul li ul li.label {
  color: #999999;
}
/* line 201, ../sass/screen.sass */
nav ul li ul li.line {
  height: 1px;
  background-color: #dddddd;
  margin: 5px 0;
  padding: 0;
}
/* line 207, ../sass/screen.sass */
nav ul li ul li.has-sub {
  background-image: url(../img/icon_subsubnav.png);
  background-position: 95% center;
  background-size: 6px 6px;
  background-repeat: no-repeat;
}
/* line 212, ../sass/screen.sass */
nav ul li ul li span {
  color: #999999;
  display: block;
}

/* line 217, ../sass/screen.sass */
body.menu-visible nav {
  background-color: #ffffff;
}

/* line 220, ../sass/screen.sass */
#foldOut {
  position: fixed;
  width: 25%;
  right: -25%;
  bottom: 0;
  top: 33px;
  padding: 10px;
  background-color: #eeeeee;
  font-family: "AcneStudiosCircle";
  font-size: 13px;
  line-height: 1.3em;
}
/* line 231, ../sass/screen.sass */
#foldOut .separator {
  overflow: hidden;
  white-space: nowrap;
}
/* line 234, ../sass/screen.sass */
#foldOut .number-of-items {
  display: block;
  margin-bottom: 15px;
}
/* line 237, ../sass/screen.sass */
#foldOut .total,
#foldOut .checkout {
  font-size: 20px;
  line-height: 1.3;
}
/* line 241, ../sass/screen.sass */
#foldOut img {
  border: 1px solid #000;
  max-width: 100%;
}

/* line 245, ../sass/screen.sass */
section {
  position: relative;
  overflow: hidden;
}
/* line 248, ../sass/screen.sass */
section .video {
  width: 100%;
}
/* line 251, ../sass/screen.sass */
section.full-height {
  height: 100vh;
}
/* line 253, ../sass/screen.sass */
section.half-height {
  height: 50vh;
}
/* line 255, ../sass/screen.sass */
section.third-height {
  height: 33.333vh;
}
/* line 257, ../sass/screen.sass */
section.two-thirds-height {
  height: 66.666vh;
}
/* line 259, ../sass/screen.sass */
section.three-fourths-height {
  height: 75vh;
}
/* line 261, ../sass/screen.sass */
section.one-fourths-height {
  height: 25vh;
}
/* line 263, ../sass/screen.sass */
section.one-eights-height {
  height: 12.5vh;
}
/* line 265, ../sass/screen.sass */
section.invert {
  background-color: #000000;
  color: #ffffff;
}
/* line 268, ../sass/screen.sass */
section.invert .sect-header {
  color: #ffffff;
}
/* line 270, ../sass/screen.sass */
section .column-half,
section .column-third,
section .column-two-thirds,
section .column-fourth,
section .column-three-fourths,
section .column-eighth {
  position: relative;
  overflow: hidden;
  position: relative;
}
/* line 279, ../sass/screen.sass */
section .column-half.full-height,
section .column-third.full-height,
section .column-two-thirds.full-height,
section .column-fourth.full-height,
section .column-three-fourths.full-height,
section .column-eighth.full-height {
  height: 100vh;
}
/* line 281, ../sass/screen.sass */
section .column-half.half-height,
section .column-third.half-height,
section .column-two-thirds.half-height,
section .column-fourth.half-height,
section .column-three-fourths.half-height,
section .column-eighth.half-height {
  height: 50vh;
}
/* line 283, ../sass/screen.sass */
section .column-half.third-height,
section .column-third.third-height,
section .column-two-thirds.third-height,
section .column-fourth.third-height,
section .column-three-fourths.third-height,
section .column-eighth.third-height {
  height: 33.333vh;
}
/* line 285, ../sass/screen.sass */
section .column-half.two-thirds-height,
section .column-third.two-thirds-height,
section .column-two-thirds.two-thirds-height,
section .column-fourth.two-thirds-height,
section .column-three-fourths.two-thirds-height,
section .column-eighth.two-thirds-height {
  height: 66.666vh;
}
/* line 287, ../sass/screen.sass */
section .column-half.three-fourths-height,
section .column-third.three-fourths-height,
section .column-two-thirds.three-fourths-height,
section .column-fourth.three-fourths-height,
section .column-three-fourths.three-fourths-height,
section .column-eighth.three-fourths-height {
  height: 75vh;
}
/* line 289, ../sass/screen.sass */
section .column-half.one-fourths-height,
section .column-third.one-fourths-height,
section .column-two-thirds.one-fourths-height,
section .column-fourth.one-fourths-height,
section .column-three-fourths.one-fourths-height,
section .column-eighth.one-fourths-height {
  height: 25vh;
}
/* line 291, ../sass/screen.sass */
section .column-half.one-eights-height,
section .column-third.one-eights-height,
section .column-two-thirds.one-eights-height,
section .column-fourth.one-eights-height,
section .column-three-fourths.one-eights-height,
section .column-eighth.one-eights-height {
  height: 12.5vh;
}
/* line 293, ../sass/screen.sass */
section.background-img {
  background-size: cover;
}
/* line 295, ../sass/screen.sass */
section .fullwidth-img {
  height: auto;
}
/* line 297, ../sass/screen.sass */
section .fullwidth-img img {
  width: 100%;
}
/* line 299, ../sass/screen.sass */
section .multiply-img {
  background-blend-mode: multiply;
}

/* line 305, ../sass/screen.sass */
body.menu-visible section.full-height {
  height: calc(100vh - 32px);
}
/* line 307, ../sass/screen.sass */
body.menu-visible section.first {
  margin-top: 32px;
}

/* line 310, ../sass/screen.sass */
.background-img,
.background-color {
  background-size: cover;
  background-position: center center;
}
/* line 314, ../sass/screen.sass */
.background-img .column-half,
.background-img .column-third,
.background-img .column-two-thirds,
.background-img .column-fourth,
.background-img .column-three-fourths,
.background-color .column-half,
.background-color .column-third,
.background-color .column-two-thirds,
.background-color .column-fourth,
.background-color .column-three-fourths {
  height: 100%;
}
/* line 320, ../sass/screen.sass */
.background-img.column-half, .background-img.column-third, .background-img.column-two-thirds, .background-img.column-fourth, .background-img.column-three-fourths,
.background-color.column-half,
.background-color.column-third,
.background-color.column-two-thirds,
.background-color.column-fourth,
.background-color.column-three-fourths {
  height: 100%;
}

/* line 328, ../sass/screen.sass */
section.gridded .column-half.left,
section.gridded .column-third.left,
section.gridded .column-two-thirds.left,
section.gridded .column-fourth.left {
  border-right: 1px solid #ffffff;
}
/* line 333, ../sass/screen.sass */
section.gridded .gridline-h {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 25%;
}
/* line 341, ../sass/screen.sass */
section.gridded .gridline-h.gridline-2 {
  top: 50%;
}
/* line 343, ../sass/screen.sass */
section.gridded .gridline-h.gridline-3 {
  top: 75%;
}
/* line 345, ../sass/screen.sass */
section.gridded .gridblock {
  font-family: "Whois";
  font-size: 18px;
  border-bottom: 1px solid #ffffff;
}
/* line 349, ../sass/screen.sass */
section.gridded.black-lines {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
/* line 352, ../sass/screen.sass */
section.gridded.black-lines .column-half.left,
section.gridded.black-lines .column-third.left,
section.gridded.black-lines .column-two-thirds.left,
section.gridded.black-lines .column-fourth.left {
  border-right: 1px solid #000;
}
/* line 357, ../sass/screen.sass */
section.gridded.black-lines .gridline-h {
  background-color: #000;
}
/* line 359, ../sass/screen.sass */
section.gridded.black-lines .gridblock {
  border-bottom: 1px solid #000;
}
/* line 361, ../sass/screen.sass */
section.gridded.black-lines input {
  border: 1px solid #000;
}
/* line 363, ../sass/screen.sass */
section.gridded.black-lines input ::placeholder {
  color: #999999;
}
/* line 366, ../sass/screen.sass */
section.gridded input {
  font-family: "Menlo";
  font-size: 14px;
  border: 1px solid #fff;
  margin: 30px 0 0 23px;
  width: 90%;
  background-color: transparent;
  padding: 8px;
  color: #fff;
}
/* line 375, ../sass/screen.sass */
section.gridded input ::placeholder {
  color: #fff;
}
/* line 377, ../sass/screen.sass */
section.gridded input[type="submit"] {
  background-color: #ffffff;
  display: inline-block;
  color: #00f;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 40%;
}

/* line 386, ../sass/screen.sass */
.logo-huge {
  margin-top: 40px;
}
/* line 388, ../sass/screen.sass */
.logo-huge #master-text {
  max-width: 100%;
}

/* line 390, ../sass/screen.sass */
.logo-huge-container {
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 396, ../sass/screen.sass */
.logo-huge-container.bottom {
  top: auto;
  bottom: 8%;
}
/* line 399, ../sass/screen.sass */
.logo-huge-container .logo-huge {
  height: 13%;
  margin: 0;
}

/* line 404, ../sass/screen.sass */
.gray-outline input {
  border: 1px solid #aaaaaa;
  font-size: 18px;
  font-family: "AcneStudiosCircle";
  color: #999999;
  padding: 14px;
  width: 100%;
  background-image: url("../img/icon_geolocator.png");
  background-size: 15px auto;
  background-position: 97% center;
  background-repeat: no-repeat;
}

/* line 417, ../sass/screen.sass */
.inset-content {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

/* line 422, ../sass/screen.sass */
.sect-header {
  display: block;
  font-size: 30px;
  line-height: 1.15em;
  font-family: "AcneStudiosCircle";
  color: #ffffff;
  background-image: url("../img/icon_arrow6_w.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-left: 22px;
}
/* line 433, ../sass/screen.sass */
.sect-header.monospace {
  font-family: "Menlo";
  font-size: 16px;
  background-size: 20px;
  background-position: 0 3px;
}
/* line 438, ../sass/screen.sass */
.sect-header.cursor {
  background-image: url("../img/icon_cursor_w.gif");
  background-size: 22px;
  background-position: left 6px;
}
/* line 442, ../sass/screen.sass */
.sect-header.cursor.monospace {
  background-position: left 1px;
  background-size: 17px;
}
/* line 445, ../sass/screen.sass */
.sect-header.level-2 {
  margin-left: 22px;
}
/* line 447, ../sass/screen.sass */
.sect-header.black {
  color: #000;
  background-image: url("../img/icon_arrow6.png");
}
/* line 450, ../sass/screen.sass */
.sect-header.black.cursor {
  background-image: url("../img/icon_cursor.gif");
}
/* line 452, ../sass/screen.sass */
.sect-header.double {
  font-size: 64px;
  line-height: 1.15em;
  padding-left: 44px;
  background-position: 0 14px;
  background-size: 50px;
}

/* line 459, ../sass/screen.sass */
.hd {
  margin: 16px 13px;
}
/* line 461, ../sass/screen.sass */
.hd.stickyX {
  position: -webkit-sticky;
  top: 32px;
}
/* line 464, ../sass/screen.sass */
.hd.hd-page {
  position: fixed;
  top: 32px;
  left: 0;
  z-index: 5;
}
/* line 470, ../sass/screen.sass */
.hd.hd-ani-levels-2-disappear {
  overflow: hidden;
  height: 34px;
}
/* line 473, ../sass/screen.sass */
.hd.hd-ani-levels-2-disappear .ani-layer {
  -webkit-transform: translate3d(0, 34px, 0);
  -webkit-animation: hd_ani_levels_2 10s 1 linear forwards;
}
/* line 477, ../sass/screen.sass */
.hd.hd-ani-levels-2-double {
  overflow: hidden;
  height: 76px;
}
/* line 481, ../sass/screen.sass */
.hd.hd-ani-levels-2-double .ani-layer {
  -webkit-transform: translate3d(0, 73px, 0);
  -webkit-animation: hd_ani_levels_2_double 10s 1 linear forwards;
}

/* line 487, ../sass/screen.sass */
body:not(.menu-visible) section.first .hd {
  margin-top: 48px;
}

@-webkit-keyframes hd_ani_levels_2 {
  0% {
    -webkit-transform: translate3d(0, 34px, 0);
  }
  5% {
    -webkit-transform: translate3d(0, 34px, 0);
  }
  10% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  55% {
    -webkit-transform: translate3d(0, -34px, 0);
  }
  95% {
    -webkit-transform: translate3d(0, -34px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -68px, 0);
  }
}
@-webkit-keyframes hd_ani_levels_2_double {
  0% {
    -webkit-transform: translate3d(0, 73px, 0);
  }
  5% {
    -webkit-transform: translate3d(0, 73px, 0);
  }
  10% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  55% {
    -webkit-transform: translate3d(0, -73px, 0);
  }
  95% {
    -webkit-transform: translate3d(0, -73px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -73px, 0);
  }
}
@-webkit-keyframes hd_ani_levels_2_original {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  5% {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  10% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  55% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  95% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
  }
}
/* line 546, ../sass/screen.sass */
.sect-title {
  display: block;
  font-size: 24px;
  font-family: "AcneStudiosCircle";
  color: #ffffff;
}
/* line 551, ../sass/screen.sass */
.sect-title.black {
  color: #000;
}

/* line 555, ../sass/screen.sass */
.bottom-sect {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}
/* line 560, ../sass/screen.sass */
.bottom-sect .sect-body {
  display: block;
  font-size: 12px;
  line-height: 1.3em;
  font-family: "AcneStudiosCircle";
  color: #ffffff;
  left: 15px;
  bottom: 13px;
  position: absolute;
  z-index: 15;
}
/* line 570, ../sass/screen.sass */
.bottom-sect .sect-body.black {
  color: #000;
}

/* line 574, ../sass/screen.sass */
.ani-regular {
  z-index: 2;
  -webkit-animation: ani_alternative steps(1) 3s infinite;
}

/* line 578, ../sass/screen.sass */
.ani-alternative {
  position: absolute !important;
  top: 0;
  left: 0;
}
/* line 582, ../sass/screen.sass */
.ani-alternative.right {
  left: 50%;
}

@-webkit-keyframes ani_alternative {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
